.header-contact__link, .header-section__nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  display: block;
}

h1,
h2,
h3 {
  margin: 0;
}

input {
  margin: 0;
}

body {
  font-family: "Roboto";
  font-style: normal;
  /* padding-top: 100px; */
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

button {
  -webkit-transition: -webkit-transform 500ms linear 250ms;
  transition: -webkit-transform 500ms linear 250ms;
  transition: transform 500ms linear 250ms;
  transition: transform 500ms linear 250ms, -webkit-transform 500ms linear 250ms;
}

button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
  width: 145px;
  height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__color {
  color: #000000;
}

.logo__color--white {
  color: white;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials-list__item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
  font: inherit;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: background-color 500ms linear 250ms, fill 550ms linear 500ms;
  transition: background-color 500ms linear 250ms, fill 550ms linear 500ms;
}

.socials-list__item--grey {
  background-color: rgba(255, 255, 255, 0.1);
}

.socials-list__item:hover .socials-list__icon {
  fill: rgb(255, 255, 255);
}

.socials-list__item:hover {
  background-color: #2196F3;
}

.socials-list__link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
}

.socials-list__icon {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
}

.socials-list__icon--white {
  fill: white;
}

.header-section {
  /* width: 100%;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0; */
  position: relative;
}
.header-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header-section__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-section__nav-item {
  margin-left: 55px;
  position: relative;
}
.header-section__nav-item:nth-child(1) {
  margin-left: 0;
}
.header-section__nav-item::after {
  content: "";
  border-bottom: 4px solid #2196F3;
  border-radius: 2px;
  display: block;
  position: absolute;
  bottom: -32px;
  right: 0;
  width: 100%;
  height: 4px;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms, -webkit-transform 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms;
  transition: opacity 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms, -webkit-transform 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms;
  transition: opacity 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms, transform 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms;
  transition: opacity 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms, transform 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms, -webkit-transform 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms;
}
.header-section__nav-item:hover::after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header-section__nav-link {
  color: #212121;
  cursor: pointer;
  display: block;
}
.header-section__nav-link:hover {
  color: #2196F3;
}

.active-page {
  background-color: #2196F3;
  position: absolute;
  bottom: -32px;
  right: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.header-section__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.header-contact__link {
  color: #757575;
  height: 16px;
  fill: #757575;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
  font: inherit;
  cursor: pointer;
}
.header-contact__link:hover {
  color: #2196F3;
}

.header-contact {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.header-contact__contact-item:nth-child(2) {
  margin-left: 50px;
}
.header-contact__icon {
  fill: currentColor;
  margin-right: 10px;
}
.header-contact__icon:hover .header-contact {
  fill: #2196F3;
}

.contact-nav {
  position: absolute;
  color: rgba(117, 117, 117, 0.5);
}

.contact-information {
  position: relative;
}

.hero-section {
  background-color: #2F303A;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-fons.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-fons.jpg);
}

.hero-section__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero-section__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  /* outline: 2px solid red; */
  background-color: #2196F3;
  color: white;
  border: #2196F3;
  border-radius: 4px;
  margin-top: 30px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.hero-modal {
  padding-left: 40px;
  -webkit-transition: opacity 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms;
  transition: opacity 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms;
}

.hero-modal__block {
  position: absolute;
  width: 528px;
  height: 581px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-top: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero-modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.hero-modal__close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 6px;
  padding-left: 6px;
  top: 8px;
  right: 8px;
  position: absolute;
}

.hero-modal__item {
  position: relative;
}

.hero-modal__close-icon {
  width: 18px;
  height: 18px;
}

.hero-modal__close-icon:hover {
  fill: #2196F3;
}

.hero-modal__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 40%;
  left: 53.3px;
}

.hero-modal__edit:hover + .hero-modal__icon {
  fill: #2196F3;
}

.hero-modal__edit {
  width: 448px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
}

.hero-modal__edit:hover {
  border-radius: 4px;
  border: 1px solid #2196F3;
  border-radius: 4px;
}

.modal-item:hover .hero-modal__icon {
  fill: #2196F3;
}

.hero-modal__text {
  text-align: left;
  padding-left: 41px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.hero-modal__com-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: left;
  padding-left: 41px;
  margin-bottom: 4px;
  padding-right: 423px;
}

.com-instruc {
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
  top: 313px;
  left: 57px;
}

.hero-modal__com-edit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-left: 16px;
  resize: none;
}

.hero-modal__com-edit:hover .com-instruc {
  color: #2196F3;
}

.hero-modal__com-edit:hover {
  border: 1px solid #2196F3;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero-modal__com-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #212121;
  width: 16px;
  height: 15px;
  position: absolute;
  left: 52px;
  margin-top: 24px;
  position: absolute;
}

.hero-modal__com-conditions {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.hero-modal__conditions-span {
  color: #2196F3;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.hero-modal__com-send {
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

/* script */
.hero-section__modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}

.work-section {
  color: #E5E5E5;
  text-align: center;
}

.work-section .container {
  padding-bottom: 92px;
}

.work-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.work-section__item {
  width: 370px;
  margin-left: 30px;
  position: relative;
}

.work-section__information {
  color: white;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  padding-bottom: 27px;
  padding-top: 27px;
  width: 370px;
  bottom: 0;
}

.work-section__item:nth-child(1) {
  margin-left: 0;
}

.benefits-section .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits-section__card {
  margin-left: 30px;
}

.benefits-section__card::before {
  content: "";
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F5F4FA;
  border-radius: 4px;
  width: 270px;
  height: 120px;
}

.benefits-section__card:nth-child(1) {
  margin-left: 0;
}

.benefits-section__card:nth-child(1):before {
  background-image: url(../images/antenna.png);
  background-size: 70px;
}

.benefits-section__card:nth-child(2)::before {
  background-image: url(../images/clock.png);
  background-size: 70px;
}

.benefits-section__card:nth-child(3):before {
  background-image: url(../images/diagram.png);
  background-size: 70px;
}

.benefits-section__card:nth-child(4):before {
  background-image: url(../images/astronaut.png);
  background-size: 70px;
}

.benefits-section__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
  width: 270px;
  padding-top: 30px;
}

.benefits-section__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  width: 270px;
  height: 75px;
}

/* we */
.we-section {
  background: #F5F4FA;
  padding-bottom: 94px;
  padding-top: 94px;
}

.we-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.we-section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.we-section__card {
  margin-left: 30px;
  width: 270px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #FFFFFF;
  padding-bottom: 30px;
  -webkit-transition: -webkit-transform 500ms linear 250ms;
  transition: -webkit-transform 500ms linear 250ms;
  transition: transform 500ms linear 250ms;
  transition: transform 500ms linear 250ms, -webkit-transform 500ms linear 250ms;
}

.we-section__card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.we-section__card:nth-child(1) {
  margin-left: 0;
}

.we-section__img {
  width: 270px;
  margin-bottom: 20px;
}

.we-section__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.we-section__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

/* customers */
.customers-section .container {
  padding-top: 94px;
  padding-bottom: 94px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customers-section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.customers-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customers-section__item {
  margin-right: 30px;
  color: #757575;
  font: inherit;
  cursor: pointer;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 500ms linear 250ms;
  transition: -webkit-transform 500ms linear 250ms;
  transition: transform 500ms linear 250ms;
  transition: transform 500ms linear 250ms, -webkit-transform 500ms linear 250ms;
}

.customers-section__item:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.customers-section__item:nth-child(6) {
  margin-right: 0;
}

.customers-section__link {
  fill: #AFB1B8;
  font: inherit;
  cursor: pointer;
  -webkit-transition: fill 500ms linear 500ms, border-color 500ms linear 500ms;
  transition: fill 500ms linear 500ms, border-color 500ms linear 500ms;
}

.customers-section__item:hover .customers-section__link {
  fill: #2196F3;
}

.customers-section__item:hover {
  border: 1px solid #2196F3;
}

/* footer */
.footer-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-section {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-section__addres {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 9px;
  margin-top: 20px;
}

.footer-section__item:nth-child(1) {
  margin-bottom: 9px;
}

.footer-section__mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-section__tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-section__footer-socials {
  margin-left: 70px;
}

.footer-section__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

/* subscribe */
.subscribe-section {
  margin-left: 93px;
}

.subscribe-section__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.subscribe-section__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-section__edit {
  border: 1px solid rgba(125, 125, 125, 0.911);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 358px;
  height: 50px;
  background: #2F303A;
  padding-left: 15px;
  margin-right: 12px;
  -webkit-transition: border 250ms linear 500ms;
  transition: border 250ms linear 500ms;
}

.subscribe-section__edit:hover,
.subscribe-section__edit:focus {
  border: solid 1px #2196F3;
  cursor: pointer;
}

.subscribe-section__button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 0 none none;
  border-radius: 4px;
  border: none;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 28px;
  position: relative;
  -webkit-transition: -webkit-transform 500ms linear 250ms;
  transition: -webkit-transform 500ms linear 250ms;
  transition: transform 500ms linear 250ms;
  transition: transform 500ms linear 250ms, -webkit-transform 500ms linear 250ms;
}

.subscribe-section__button:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.subscribe-section__icon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 18px;
  top: 26px;
  bottom: 13px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.subscribe-section__text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.qr-img {
  margin-left: 70px;
}/*# sourceMappingURL=index.css.map */