ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0;
}

input {
  margin: 0;
  outline: none;
}

button {
  outline: none;
}

body {
  font-family: "Roboto";
  font-style: normal;
  /* padding-top: 100px; */
}

button {
  -webkit-transition: -webkit-transform 500ms linear 250ms;
  transition: -webkit-transform 500ms linear 250ms;
  transition: transform 500ms linear 250ms;
  transition: transform 500ms linear 250ms, -webkit-transform 500ms linear 250ms;
}

button:hover, button:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.scroll-to-top {
  width: 81px;
  height: 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  background-color: #212121;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
  width: 145px;
  height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #2196F3;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

.logo__color {
  color: #000000;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .logo__color {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #000000;
  }
}

.logo__color--white {
  color: white;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials-list__item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}

.socials-list__item--grey {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.socials-list__link:hover .socials-list__icon, .socials-list__link:focus .socials-list__icon {
  fill: rgb(255, 255, 255);
}

.socials-list__link:hover, .socials-list__link:focus {
  background-color: #2196F3;
}

.socials-list__link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  border-radius: 50%;
  font: inherit;
  cursor: pointer;
  -webkit-transition: background-color 500ms linear 250ms, fill 500ms linear 250ms;
  transition: background-color 500ms linear 250ms, fill 500ms linear 250ms;
}

.socials-list__icon {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
}

.socials-list__icon--white {
  fill: white;
}

.header-section {
  position: relative;
}
.header-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header-section__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-section__nav-item {
  margin-left: 55px;
  position: relative;
}
.header-section__nav-item:nth-child(1) {
  margin-left: 0;
}
.header-section__nav-item::after {
  content: "";
  border-bottom: 4px solid #2196F3;
  border-radius: 2px;
  display: block;
  position: absolute;
  bottom: -32px;
  right: 0;
  width: 100%;
  height: 4px;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms, -webkit-transform 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms;
  transition: opacity 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms, -webkit-transform 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms;
  transition: opacity 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms, transform 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms;
  transition: opacity 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms, transform 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms, -webkit-transform 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms;
}
.header-section__nav-item:hover::after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header-section__nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  cursor: pointer;
  display: block;
}
.header-section__nav-link:hover {
  color: #2196F3;
}

.active-page {
  background-color: #2196F3;
  position: absolute;
  bottom: -32px;
  right: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.header-section__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header-section__list {
    display: none;
  }
}

.header-contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  height: 16px;
  fill: #757575;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
  font: inherit;
  cursor: pointer;
}
.header-contact__link:hover {
  color: #2196F3;
}

.header-contact__tel {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .header-contact__tel {
    margin-bottom: 0;
  }
}

.header-contact {
  display: none;
}
.header-contact__icon {
  fill: currentColor;
  margin-right: 10px;
}
.header-contact__icon:hover .header-contact {
  fill: #2196F3;
}
@media screen and (min-width: 768px) {
  .header-contact {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  .header-contact__contact-item:nth-child(2) {
    margin-left: 30px;
  }
}

.contact-nav {
  position: absolute;
  color: rgba(117, 117, 117, 0.5);
}

.contact-information {
  position: relative;
}

.is-hidden2 {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: fixed;
  background-color: #FFFFFF;
  padding-top: 48px;
  padding-left: 40px;
  width: 100%;
  padding-bottom: 48px;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    display: none;
  }
}

.modal-open__button {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .modal-open__button {
    display: none;
  }
}

.modal-open__icon {
  fill: black;
  width: 40px;
  height: 40px;
}

.modal-item {
  margin-bottom: 35px;
}

.modal-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.active-page-modal {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.modal__icon-close {
  fill: #212121;
  width: 20px;
  height: 20px;
}

.modal__button-close {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 20px;
  right: 25px;
  z-index: 100;
}

.heder-contact-item {
  margin-bottom: 32px;
}

.heder-contact-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.heder-contact-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.heder-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.heder-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.main-section {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid #ececec;
}
@media screen and (min-width: 1200px) {
  .main-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 48px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
@media screen and (min-width: 768px) {
  .button-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.button-item {
  margin-right: 8px;
  margin-bottom: 15px;
}
@media screen and (min-width: 1200px) {
  .button-item {
    margin-bottom: 15px;
  }
}

.button-item:nth-child(1) {
  margin-left: 0;
}

.main-button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
  font: inherit;
  cursor: pointer;
}

.main-button:hover {
  background-color: #2196f3;
  color: white;
}

.main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .main-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main-card {
  width: 100%;
  border: 1px solid #eeeeee;
  padding-bottom: 20px;
  overflow: hidden;
}
@media screen and (min-width: 480px) {
  .main-card {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .main-card {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .main-card {
    width: 370px;
  }
}

.main-card:hover {
  background: #ffffff;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.main-descrition {
  padding-left: 24px;
}

.main-card:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.main-card:nth-child(3n) {
  margin-right: 0;
}

.main-item {
  background: url(portfolio1.jpg);
}

.main-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-top: 20px;
}

.main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.85px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 30px;
}

.main-card:hover .informatio-text {
  opacity: 1;
  -webkit-transform: scale(1) rotate(360deg) translate(0, 0);
          transform: scale(1) rotate(360deg) translate(0, 0);
}

.description-informatio {
  position: relative;
}

.informatio-text {
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(33, 150, 243, 0.9);
  padding-left: 24px;
  padding-top: 63px;
  -webkit-transition: opacity 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms, -webkit-transform 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms;
  transition: opacity 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms, -webkit-transform 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms;
  transition: opacity 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms, transform 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms;
  transition: opacity 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms, transform 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms, -webkit-transform 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 250ms;
  -webkit-transform: scale(0) rotate(0deg) translate(-100%, -100%);
          transform: scale(0) rotate(0deg) translate(-100%, -100%);
}

/* footer */
.footer-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer-section .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-section {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section__addres {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 9px;
  margin-top: 20px;
  text-align: center;
}

.footer-section__item {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-section__item {
    text-align: left;
  }
}

.footer-section__item:nth-child(1) {
  margin-bottom: 9px;
}

.footer-section__mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-section__tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-section__footer-socials {
  text-align: center;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer-section__footer-socials {
    margin-left: 165px;
    margin-top: 0;
    margin-bottom: 102px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-section__footer-socials {
    margin-left: 70px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
  }
}

.footer-section__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

/* subscribe */
.subscribe-section {
  margin-top: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .subscribe-section {
    margin-left: 93px;
    margin-top: 0;
    text-align: left;
  }
}

.subscribe-section__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.subscribe-section__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 480px) {
  .subscribe-section__block {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-section__block {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-section__block {
    width: 570px;
  }
}

.subscribe-section__edit {
  border: 1px solid rgba(125, 125, 125, 0.911);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 50px;
  background: #2F303A;
  padding-left: 15px;
  -webkit-transition: border 250ms linear 500ms, height 250ms linear 500ms;
  transition: border 250ms linear 500ms, height 250ms linear 500ms;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe-section__edit {
    margin-right: 12px;
    margin-bottom: 0;
    width: 358px;
  }
}

.subscribe-section__edit:hover,
.subscribe-section__edit:focus {
  border: solid 1px #2196F3;
  cursor: pointer;
  height: 70px;
}

.subscribe-section__button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 0 none none;
  border-radius: 4px;
  border: none;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 28px;
  position: relative;
  -webkit-transition: -webkit-transform 500ms linear 250ms;
  transition: -webkit-transform 500ms linear 250ms;
  transition: transform 500ms linear 250ms;
  transition: transform 500ms linear 250ms, -webkit-transform 500ms linear 250ms;
}

.subscribe-section__button:hover, .subscribe-section__button:focus {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.subscribe-section__icon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 18px;
  top: 26px;
  bottom: 13px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: white;
}

.subscribe-section__text {
  font-style: 700;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}/*# sourceMappingURL=portfolio.css.map */