body{
font-family: "roboto";
}

/* header */
.nav-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.logo-color {
    color: #2196F3;
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.nav-link:hover{
    color: #2196F3;
}

.nav-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.nav-contact:hover{
    color: #2196F3;
}

/* main */

.main-section {}

.main-button {
    background: #F5F4FA;
    border-radius: 4px;
}

/* .main-item {
    background: url(portfolio1.jpg);
} */

.main-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2px;
    letter-spacing: 0.06em;
    color: #212121;
}

.main-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.85px;
    letter-spacing: 0.03em;
    color: #757575;
}

footer{
    background-color: #2F303A;
}

.footer-logo{
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.footer-addres {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}