a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Roboto';
    font-style: normal;
}

.nav-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.nav-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #000000;
}

.nav-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #000000;
}

.hero-section {
    
}



.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.benefits-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.work-section {
    background: #E5E5E5;
}

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
}

.work-item {
    background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
}

.we-section {
    background: #F5F4FA;
}

.we-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.we-item {
    background: url(2968.jpg);
    border-radius: 0px;
}

.we-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.we-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}


.footer-addres {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

ul{
    padding: 0;
    margin: 0;
    outline: 2px solid green;
    list-style: none;
}

a{
    padding: 0;
    margin: 0;
    outline: 2px solid red;
    text-decoration: none;
}

button{
    padding: 0;
    margin: 0;
    outline: 2px solid yellow;
}

p{
    padding: 0;
    margin: 0;
    outline: 2px solid blue;
}

img{
    padding: 0;
    margin: 0;
    outline: 2px solid black;
}

h2{
    padding: 0;
    margin: 0;
    outline: 2px solid purple;
}

address{
    padding: 0;
    margin: 0;
    outline: 2px solid gray;
}

h3{
    padding: 0;
    margin: 0;
    outline: 2px solid gold;
}

h1{
    padding: 0;
    margin: 0;
    outline: 2px solid darkred;
}

section{
    padding: 0;
    margin: 0;
    outline: 2px solid turquoise;
}