body {
    font-family: 'Roboto';
    font-style: normal;
    /* padding-top: 100px; */
}

/* header */

.header-section .container {
    display: flex;
    align-items: center;
    height: 80px;
}

.header-section {
    /* width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0; */
    position: relative;
}

.header-section__nav {
    display: flex;
}


.header-section__logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    width: 145px;
    height: 31px;
    display: flex;
}

.nav-list {
    align-items: center;
}

.logo-color {
    color: #2196F3;
}

.header-section__nav-item .container {
    padding-left: 54px;
}

.header-section__nav-item {
    margin-left: 55px;
    width: 70px;
}

.header-section__nav-item:nth-child(1) {
    margin-left: 0;
}

.header-section__nav-item::after {
    content: "";
    border-bottom: 4px solid #2196F3;
    opacity: 0;
    display: block;
    position: absolute;
    bottom: 0;
    width: 74px;
    height: 4px;
    transition: opacity 500ms cubic-bezier(.17, .67, .83, .67) 250ms;
}

.header-section__nav-item:nth-child(1)::after {
    content: "";
    width: 59px;
}

.header-section__nav-item:nth-child(3)::after {
    width: 66px;
}

.header-section__nav-item:hover::after {
    content: "";
    opacity: 1;
}

.header-section__list {
    display: flex;
    margin-left: 93px;
    align-items: center;
}

.header-section__nav-link {
    font-weight: 500;
    display: block;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    width: 45px;
    height: 16px;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-delay: 500ms;
    font: inherit;
    cursor: pointer;
}

.header-section__nav-link:hover {
    color: #2196F3;
}

.header-contact__nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    height: 16px;
    fill: #757575;
    align-items: center;
    margin-right: 10px;
    display: flex;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-delay: 500ms;
    font: inherit;
    cursor: pointer;
}

.header-contact__nav:hover {
    color: #2196F3;
}

.header-contact__icon {
    fill: currentColor;
    margin-right: 10px;
}

.header-contact__icon:hover .header-contact {
    fill: #2196F3;
}

.header-contact {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header-contact__contact-item:nth-child(2) {
    margin-left: 50px;
}

.contact-nav {
    position: absolute;
    color: rgba(117, 117, 117, 0.5);
}

.contact-information {
    position: relative;
}

/* section hero */
.hero-section {
    background-color: #2F303A;

    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-fons.jpg );
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;

}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    /* outline: 2px solid red; */
    background-color: #2196F3;
    color: white;
    border: #2196F3;
    border-radius: 4px;
    margin-top: 30px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.hero-modal {
    padding-left: 40px;
    transition: opacity 500ms cubic-bezier(.17, .67, .83, .67) 250ms;
}


.hero-modal-block {
    position: absolute;
    width: 528px;
    height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding-top: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}

.modal-close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 6px;
    padding-left: 6px;
    top: 8px;
    right: 8px;
    position: absolute;
}

.modal-item {
    position: relative;
}

.modal-close-icon {
    width: 18px;
    height: 18px;
}

.modal-close-icon:hover {
    fill: #2196F3;
}

.modal-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 40%;
    left: 53.3px;
}

.modal-edit {
    width: 448px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 42px;
}

.modal-edit:hover {
    border-radius: 4px;
    border: 1px solid #2196F3;
    border-radius: 4px;
}

.modal-item:hover .modal-icon {
    fill: #2196F3;
}

.modal-text {
    text-align: left;
    padding-left: 41px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
    display: block;
    margin-bottom: 4px;
}

.com-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
    text-align: left;
    padding-left: 41px;
    margin-bottom: 4px;
    padding-right: 423px;
}

.com-instruc {
    position: absolute;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: #757575;
    top: 313px;
    left: 57px;
}

.com-edit {
    box-sizing: border-box;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-top: 12px;
    padding-left: 16px;
    resize: none;
}

.com-edit:hover .com-instruc {
    color: #2196F3;
}

.com-edit:hover {
    border: 1px solid #2196F3;
    border-radius: 4px;
    box-sizing: border-box;
}

.com-check {
    display: flex;
    background: #212121;
    width: 16px;
    height: 15px;
    position: absolute;
    left: 52px;
    margin-top: 24px;
}

.com-conditions {
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.conditions-span {
    color: #2196F3;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.com-send {
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

/* benefis */

.benefits-section .container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.benefits-card {
    margin-left: 30px;
}

.benefits-card::before {
    content: "";
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F5F4FA;
    border-radius: 4px;
    width: 270px;
    height: 120px;
}

.benefits-card:nth-child(1) {
    margin-left: 0;
}

.benefits-card:nth-child(1):before {
    background-image: url(../images/antenna.png);
    background-size: 70px;
}

.benefits-card:nth-child(2)::before {
    background-image: url(../images/clock.png);
    background-size: 70px;
}

.benefits-card:nth-child(3):before {
    background-image: url(../images/diagram.png);
    background-size: 70px;
}

.benefits-card:nth-child(4):before {
    background-image: url(../images/astronaut.png);
    background-size: 70px;
}

.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
    width: 270px;
    padding-top: 30px;
}

.benefits-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    width: 270px;
    height: 75px;
}

/* work */
.work-section {
    color: #E5E5E5;
    text-align: center;
}

.work-section .container {
    padding-bottom: 92px;
}

.work-list {
    display: flex;
    justify-content: center;
}

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.work-item {
    width: 370px;
    margin-left: 30px;
    position: relative;
}

.work-information {
    color: white;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    padding-bottom: 27px;
    padding-top: 27px;
    width: 370px;
    bottom: 0;
}

.work-item:nth-child(1) {
    margin-left: 0;
}

/* we */
.we-section {
    background: #F5F4FA;
    padding-bottom: 94px;
    padding-top: 94px;
}

.we-list {
    display: flex;
    justify-content: center;
}

.we-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.we-card {
    margin-left: 30px;
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
    padding-bottom: 30px;
}

.we-card:nth-child(1) {
    margin-left: 0;
}

.we-item {
    width: 270px;
    margin-bottom: 20px;
}

.we-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
}

.we-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
}

.socials-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials-item {
    margin-right: 10px;
    width: 44px;
    height: 44px;
    font: inherit;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 250ms linear 250ms, fill 250ms linear 250ms;
}

.socials-item:hover .socials-icon {
    fill: white;
}

.socials-item:hover {
    background-color: #2196F3;
}

.socials-link {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
}

.socials-icon {
    fill: #AFB1B8;
    width: 20px;
    height: 20px;
}

/* customers */
.customers-section .container {
    padding-top: 94px;
    padding-bottom: 94px;
    justify-content: center;
}

.customers-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.customers-list {
    display: flex;
    justify-content: center;
}

.customers-item {
    margin-right: 30px;
    color: #757575;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-delay: 500ms;
    font: inherit;
    cursor: pointer;
    transition-timing-function: linear;
}

.customers-item:nth-child(6) {
    margin-right: 0;
}

.customers-icon {
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-delay: 500ms;
    font: inherit;
    cursor: pointer;
    transition: fill 250ms linear 1000ms, border-color 250ms linear 500ms;
}

.customers-icon:hover {
    fill: #2196F3;
    border: 1px solid #2196F3;
}

/* footer */

footer .container {
    display: flex;
}

footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-addres {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 9px;
}

.footer-item:nth-child(1) {
    margin-bottom: 9px;
}

.footer-mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}



.footer-socials {
    margin-left: 70px;
}



.footer-list {
    display: flex;
}

.footer-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.item-socials {
    margin-left: 10px;
}

.item-socials:nth-child(1) {
    margin-left: 0;
}

.footer-link {
    border-radius: 50%;
    padding: 12px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-delay: 500ms;
    font: inherit;
    cursor: pointer;
}

.footer-link:hover {
    background: #2196F3;
}

.footer-icon {
    fill: #ffffff;
    width: 20px;
    height: 20px;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-delay: 500ms;
    font: inherit;
    cursor: pointer;
}

.footer-icon:hover {
    background: #2196F3;
}

/* subscribe */

.subscribe-section {
    margin-left: 93px;
}

.subscribe-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.subscribe-block {
    display: flex;
}

.subscribe-edit {
    border: 1px solid rgba(125, 125, 125, 0.911);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    box-sizing: border-box;
    width: 358px;
    height: 50px;
    background: #2F303A;
    padding-left: 15px;
    margin-right: 12px;
    transition: border 250ms linear 500ms;
}

.subscribe-edit:hover,
.subscribe-edit:focus {
    border: solid 1px #2196F3;
    cursor: pointer;
}

.subscribe-button {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    align-items: center;
    display: flex;
    padding-left: 28px;
    position: relative;
}

.subscribe-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 158px;
    top: 26px;
    bottom: 13px;
    transform: translate(-50%, -50%);
}

.subscribe-text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

/* script */

.hero-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
}