body {
    font-family: 'Roboto';
    font-style: normal;
}

/* header */

.header-section .container {
    display: flex;
    align-items: center;
    height: 80px;
}

/* .header-section {
    
} */

.header-navigation {
    display: flex;
}


.nav-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    width: 145px;
    height: 31px;
    outline: 2px solid red;
    display: flex;
}

.nav-list {
    align-items: center;
}

.logo-color {
    color: #2196F3;
    outline: 2px solid red;
}

.nav-item .container {
    padding-left: 54px;
}

.nav-item {
    margin-left: 55px;
}

.nav-item:nth-child(1) {
    margin-left: 0;
}

.header-list {
    display: flex;
    margin-left: 93px;
    align-items: center;
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    outline: 2px solid red;
    width: 45px;
    height: 16px;
}

.nav-link:hover {
    color: #2196F3;
    outline: 2px solid red;
}

.nav-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    outline: 2px solid red;
    width: 135px;
    display: flex;
    flex-wrap: wrap;
}

.nav-contact:hover {
    color: #2196F3;
    outline: 2px solid red;
}

.header-contact {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.contact-item:nth-child(2) {
    margin-left: 50px;
}

/* section hero */
.hero-section {
    background-color: #2F303A;
    outline: 2px solid red;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    outline: 2px solid red;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    /* outline: 2px solid red; */
    background-color: #2196F3;
    color: white;
    border: #2196F3;
    border-radius: 4px;
    margin-top: 30px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* benefis */

.benefits-section .container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.benefits-card {
    margin-left: 30px;
}

.benefits-card:nth-child(1) {
    margin-left: 0;
}

.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
    outline: 2px solid red;
    width: 270px;
}

.benefits-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    outline: 2px solid red;
    width: 270px;
    height: 75px;
}

/* work */
.work-section {
    color: #E5E5E5;
    text-align: center;
}

.work-section .container {
    padding-bottom: 92px;
}

.work-list {
    display: flex;
    justify-content: center;
}

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.work-item {
    width: 370px;
    margin-left: 30px;
}

.work-item:nth-child(1) {
    margin-left: 0;
}

/* we */
.we-section {
    background: #F5F4FA;
    padding-bottom: 94px;
    padding-top: 94px;
}

.we-list {
    display: flex;
    justify-content: center;
}

.we-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.we-card {
    margin-left: 30px;
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
    padding-bottom: 30px;
}

.we-card:nth-child(1) {
    margin-left: 0;
}

.we-item {
    width: 270px;
    margin-bottom: 20px;
}

.we-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
}

.we-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/* footer */

footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 20px; 
}

.footer-addres {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 9px;
}

.footer-item:nth-child(1){
    margin-bottom: 9px;
}

.footer-mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}