.header-section {
    position: relative;

    & .container {
        display: flex;
        align-items: center;
        height: 80px;
    }
}

.header-section__nav {
    display: flex;
}

.nav-list {
    align-items: center;
}

.header-section__nav-item {
    margin-left: 55px;
    position: relative;

    &:nth-child(1) {
        margin-left: 0;
    }

    &::after {
        content: "";
        border-bottom: 4px solid $accent;
        border-radius: 2px;
        display: block;
        position: absolute;
        bottom: -32px;
        right: 0;
        width: 100%;
        height: 4px;
        opacity: 0;
        transform: scale(0);
        transition: opacity 500ms cubic-bezier(.17, .67, .83, .67) 250ms, transform 500ms cubic-bezier(.17, .67, .83, .67) 250ms;
    }

    &:hover::after {
        opacity: 1;
        transform: scale(1);
    }
}

.header-section__nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $text-color;
    cursor: pointer;
    display: block;
    // animation: to-top 1s ease-out 200ms both;

    &:hover {
        color: $accent;
    }
}

.active-page {
    background-color: $accent;
    position: absolute;
    bottom: -32px;
    right: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.header-section__list {
    @include center($align-items: center, $margin-left: 93px, $display: flex);

    @media screen and (min-width: 320px) and (max-width:767px) {
        display: none;
    }
}

.header-contact__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $text-color-accent;
    height: 16px;
    fill: $text-color-accent;
    align-items: center;
    margin-right: 10px;
    display: flex;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-delay: 500ms;
    font: inherit;
    cursor: pointer;

    &:hover {
        color: $accent;
    }
}

.header-contact__tel {
    margin-bottom: 10px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
    }
}

.header-contact {
    display: none;

    &__icon {
        fill: currentColor;
        margin-right: 10px;

        &:hover .header-contact {
            fill: $accent;
        }
    }

    @media screen and (min-width: 768px) {
        display: block;
        margin-left: auto;
    }

    @media screen and (min-width: 1200px) {
        @include center($align-items: center, $margin-left: auto, $display: flex);

        &__contact-item:nth-child(2) {
            margin-left: 50px;
        }
    }
}

.contact-nav {
    position: absolute;
    color: rgba(117, 117, 117, 0.5);
}

.contact-information {
    position: relative;
}

.is-hidden2 {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    padding-top: 48px;
    padding-left: 40px;
    width: 100%;
    padding-bottom: 48px;

    @media screen and (min-width:480px) {
        width: 480px;
    }

    @media screen and (min-width:768px) {
        display: none;
    }
}


.modal-open__button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    margin-left: auto;

    @media screen and (min-width:768px) {
        display: none;
    }
}

.modal-open__icon {
    fill: black;
    width: 40px;
    height: 40px;
}

.modal-list {
    margin-bottom: 302px;
}

.modal-item {
    margin-bottom: 35px;
}

.modal-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
}

.active-page-modal {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.modal__icon-close {
    fill: #212121;
    width: 20px;
    height: 20px;
}

.modal__button-close {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 25px;
    z-index: 100;
}

.heder-contact-item {
    margin-bottom: 32px;
}

.heder-contact-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.heder-contact-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
}

.heder-social-list {
    display: flex;
    flex-wrap: wrap;
}

.heder-social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196F3;
}