.socials-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials-list__item {
    margin-right: 10px;
    width: 44px;
    height: 44px;
}

.socials-list__item--grey {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.socials-list__link:hover .socials-list__icon, .socials-list__link:focus .socials-list__icon{
    fill: rgb(255, 255, 255);
}

.socials-list__link:hover, .socials-list__link:focus {
    background-color: #2196F3;
}

.socials-list__link {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    border-radius: 50%;
    font: inherit;
    cursor: pointer;
    transition: background-color 500ms linear 250ms, fill 500ms linear 250ms;
}

.socials-list__icon {
    fill: #AFB1B8;
    width: 20px;
    height: 20px;
}

.socials-list__icon--white {
    fill: white;
}