@keyframes to-top {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

 @keyframes to-left {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes to-bottom {
    0% {
        transform: translateY(-100px) scale(0.5); 
        opacity: 0;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

}