@mixin center ($align-items, $margin-left, $display){
    align-items: $align-items;
    display: $display;
    margin-left: $margin-left;
}

@mixin border ($with, $type, $color, $radius ){
    border:$with $type $color;
    border-radius: $radius;
}  