.hero-section {
    background-color: #2F303A;

    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-fons.jpg );
}

.hero-section__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    animation: to-bottom 1s ease-out 200ms both;

}

.hero-section__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    /* outline: 2px solid red; */
    background-color: $accent;
    color: white;
    border: $accent;
    border-radius: 4px;
    margin-top: 30px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
    animation: to-left 1s ease-out 200ms both;
}

.hero-modal {
    padding-left: 40px;
    transition: opacity 500ms cubic-bezier(.17, .67, .83, .67) 250ms;
}


.hero-modal__block {
    position: absolute;
    width: 528px;
    height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding-top: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}

.hero-modal__close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 6px;
    padding-left: 6px;
    top: 8px;
    right: 8px;
    position: absolute;
}

.hero-modal__item {
    position: relative;
}

.hero-modal__close-icon {
    width: 18px;
    height: 18px;
}

.hero-modal__close-icon:hover {
    fill: $accent;
}

.hero-modal__icon {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 40%;
    left: 53.3px;
}

.hero-modal__edit:hover + .hero-modal__icon{
    fill: $accent;
}

.hero-modal__edit {
    width: 448px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 42px;
}

.hero-modal__edit:hover {
    border-radius: 4px;
    border: 1px solid $accent;
    border-radius: 4px;
}

.modal-item:hover .hero-modal__icon {
    fill: $accent;
}

.hero-modal__text {
    text-align: left;
    padding-left: 41px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $text-color-accent;
    display: block;
    margin-bottom: 4px;
}

.hero-modal__com-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $text-color-accent;
    text-align: left;
    padding-left: 41px;
    margin-bottom: 4px;
    padding-right: 423px;
}

.com-instruc {
    position: absolute;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: $text-color-accent;
    top: 313px;
    left: 57px;
}

.hero-modal__com-edit {
    box-sizing: border-box;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-top: 12px;
    padding-left: 16px;
    resize: none;
}

.hero-modal__com-edit:hover .com-instruc {
    color: $accent;
}

.hero-modal__com-edit:hover {
    border: 1px solid $accent;
    border-radius: 4px;
    box-sizing: border-box;
}

.hero-modal__com-check {
    display: flex;
    background: $text-color;
    width: 16px;
    height: 15px;
    position: absolute;
    left: 52px;
    margin-top: 24px;
    // appearance: none;
    // -moz-appearance:none;
    // -webkit-appearance: none;
    position: absolute;
}

.hero-modal__com-conditions {
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $text-color-accent;
}

.hero-modal__conditions-span {
    color: $accent;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.hero-modal__com-send {
    width: 200px;
    height: 50px;
    background: $accent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

// .hero-modal__custom-check{
//     background-color: $text-color;
//     border: 1px white solid;
//     display: inline-block;
//     width: 20px;
//     height: 20px;
//     border-radius: 5px;
// }

// .hero-modal__com-check:checked + .hero-modal__custom-check{
//     background-color: #00b0f6;
//     background-size: 20px;
//     background-image: url(..);
// }

/* script */

.hero-section__modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
}